Repository ProAlgos/ProAlgos-Cpp, pull requests merged in 2019-10, with the labels that each got.

#186 Comb sort
  C++/README.md
  C++/include/algorithm/sorting/comb_sort.hpp
Labels: Algorithm, Review pending, Sorting

#214 Shunting yard
  C++/CMakeLists.txt
  C++/README.md
  C++/include/algorithm/string/shunting_yard.hpp
  C++/test/algorithm/string/shunting_yard.cpp
Labels: Algorithm, Review pending, String

#263 Add rod cutting, weighted activity selection
  C++/CMakeLists.txt
  C++/README.md
  C++/include/algorithm/dynamic_programming/rod_cutting.hpp
  C++/include/algorithm/dynamic_programming/weighted_activity_selection.hpp
  C++/test/algorithm/dynamic_programming/rod_cutting.cpp
  C++/test/algorithm/dynamic_programming/weighted_activity_selection.cpp
Labels: Algorithm, Dynamic programming, Review pending
