Repository ProAlgos/ProAlgos-Cpp, pull requests merged in 2020-05, with the labels that each got.

#329 implemented bucket sort
  C++/README.md
  C++/include/algorithm/sorting/bucket_sort.hpp
  C++/test/algorithm/sorting/sorting.cpp
Labels: Algorithm

#332 Update documentation and links to ProAlgos
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  C++/CMakeLists.txt
  C++/CONTRIBUTING.md
  C++/README.md
  README.md
Labels: Documentation

#273 add unit test for n-queens
  C++/CMakeLists.txt
  C++/README.md
  C++/test/algorithm/backtracking/n_queens.cpp
Labels: Review pending, Unit test

#264 Overloading ternary search to accept a function and an interval as parameters
  C++/include/algorithm/searching/ternary_search.hpp
  C++/test/algorithm/searching/ternary_search.cpp
Labels: Enhancement

#337 Add Heap's algorithm
  C++/CMakeLists.txt
  C++/README.md
  C++/include/algorithm/string/heaps_algorithm.hpp
  C++/test/algorithm/string/heaps_algorithm.cpp
Labels: Algorithm, Changes requested, String

#338 Fix broken links in README.md
  C++/README.md
Labels: Bug, Changes requested, Documentation
