Repository ProAlgos/ProAlgos-Cpp, pull requests merged in 2020-06, with the labels that each got.

#348 Implement stack data structure
  C++/CMakeLists.txt
  C++/include/data_structure/stack/stack.hpp
  C++/test/data_structure/stack/stack.cpp
Labels: Changes requested, Data structure

#349 Add primorial algorithm
  C++/CMakeLists.txt
  C++/README.md
  C++/include/algorithm/number_theory/primorial.hpp
  C++/test/algorithm/number_theory/primorial.cpp
Labels: Algorithm, Number theory

#354 Add checkmark for greatest common divisor
  README.md
Labels: Documentation

#357 Reverse linked list
  cpp/include/data_structure/linked_list/doubly_linked_list.hpp
  cpp/include/data_structure/linked_list/singly_linked_list.hpp
  cpp/test/data_structure/linked_list/doubly_linked_list.cpp
  cpp/test/data_structure/linked_list/singly_linked_list.cpp
Labels: Changes requested, Data structure, Enhancement
